.real-time-visibility {
    background-color: var(--container) !important;
    border: 1px solid var(--detail);
}

.real-time-visibility caption {
    color: var(--detail) !important;
    font-style: italic;
}

.real-time-visibility .MuiTableCell-head, 
.real-time-visibility .MuiTableCell-body {
    color: var(--detail) !important;
    border-color: var(--detail) !important;
}

.real-time-visibility .MuiTableCell-head {
    font-weight: bold !important;
}