.real-time-visibility {
    background-color: var(--container) !important;
    border: 1px solid var(--detail);
}

.real-time-visibility tr {
    border: 1px solid var(--detail) !important;
}

.real-time-visibility thead th{
    color: white !important;
}

.real-time-visibility th {
    font-weight: bold;
}

.real-time-visibility .green-text td,
.real-time-visibility .green-text th {
    color: green;
}

.real-time-visibility .red-text td,
.real-time-visibility .red-text th {
    color: red;
}