.time-selector button {
    color: var(--detail) !important;
    border-color: var(--detail) !important;
    background-color: var(--background) !important;
}

.time-selector .Mui-selected {
    color: var(--detail) !important;
    border-bottom: none !important;
    background-color: var(--container) !important;
    font-weight: bold !important;
    position: relative;
}

.time-selector .Mui-selected::after {
    content: '';
    position: absolute;
    bottom: -5%;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: var(--container);
}

.time-selector-night button {
    color: red !important;
    border-color: red !important;
    background-color: black !important;
}

.time-selector-night .Mui-selected {
    color: red !important;
    border-bottom: none !important;
    background-color: black !important;
    font-weight: bold !important;
    position: relative;
}

.time-selector-night .Mui-selected::after {
    content: '';
    position: absolute;
    bottom: -5%;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: black;
}