.login-page {
    background-image: url("/2k_stars_milky_way.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
}

.login-page-logo {
    width: 50%;
    max-width: 600px;
}

.bio-textarea {
    resize: none;
}

.body-container {
    background-color: #082032;
    color: #E3CCAE;
}