:root {
    --background: #082032;
    --container: #334756;
    --detail: #E3CCAE; 
}

.night-mode {
    --background: black;
    --container: black;
    --detail: red;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background) !important;
    color: var(--detail) !important;
}

.content {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}