:root {
    --background: #082032;
    --container: #353535;
    --detail: #E3CCAE;
    --text-input-bg: white;
}

.night-mode {
    --background: black;
    --container: black;
    --detail: red;
    --text-input-bg: rgb(34, 34, 34);
}

html, body {
    height: 100vh;
}

body {
    background-color: #212529 !important;
    color: white !important;
}