.location-settings {
    background-color: var(--detail);
    color: var(--container);
}

.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}