.location-settings {
    background-color: #E3CCAE;
    color: #334756;
}

.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}